---
import { getAllPostsSSR } from "../../db/posts/getAllPosts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import HeaderBlog from "../../components/blog/HeaderBlog.astro";
import BlogPost from "../../components/blog/BlogPost.astro";
import Categories from "../../components/blog/Categories.astro";

const posts = await getAllPostsSSR(Astro);
---

<BaseLayout>
  <div class="wrapper">
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/posts/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .posts {
    display: flex;
  }

  article {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
</style>
