---
import { getAllPostsSSR } from "../../db/posts/getAllPosts";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getAllPostsSSR(Astro);
---

<BaseLayout>
  <div class="wrapper">
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/posts/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
