---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Blog</h1>
  <div class="posts">
    <article>
      <h2>My First Post</h2>
      <p>Some content</p>
    </article>
    <article>
      <h2>My Second Post</h2>
      <p>Some content</p>
    </article>
  </div>
</BaseLayout>

<style>
  .posts {
    display: flex;
  }

  article {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
</style>
