<div class="nav">
  <nav class="wrapper">
    <a href="/">LOGO</a>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a class="btn" href="/blog">BLOG</a></li>
    </ul>
  </nav>
</div>

<style>
  .nav {
    width: 100%;
    background-color: var(--background);
    font-weight: 700;
  }

  .nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
  }

  ul .btn {
    background: var(--gradient-pink-purple);
    color: var(--dark);
    font-weight: 700;
    font-size: 16px;
    border-radius: 20px 0px;
  }

  ul .btn:hover {
    background: var(--gradient-purple-pink);
  }
</style>
