---
import { getAllPostsSSR } from "../../../db/posts/getAllPosts";
import { checkSession } from "../../../db/session/checkSession";
import BaseLayout from "../../../layouts/BaseLayout.astro";

const isLoggedin = await checkSession(Astro);
if (!isLoggedin) return Astro.redirect("/login");
const posts = await getAllPostsSSR(Astro);
---

<BaseLayout>
  <div class="wrapper">
    <h1>Posts</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/admin/posts/${post.id}`}>{post.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
